// Images - Preload images
$pre-img-bg: rgba(lighten(#322d3b, 15%), .25);
// Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #000;
// Images - Multimedia background
$multi-bg: darken(#666666, 30%);
$overlay-bg: darken(#fcfcfc, 80%);

$pre-img-ratios: ();

$loading-color: #FFF;
$loading-background-color: red;

$default-bar-color: #FFFFFF;
$default-bar-bg: #322d3b;
